{% extends 'layout.html' %}

{% load static %}

{% block title %}
	ToolBoard: {{ self.title }}
{% endblock %}

{% block extra_css %}
	{{ block.super }}
	<!-- FULLCALENDAR: Calendar and scheduler -->
	<link rel="stylesheet" href="{% static 'plugins/fullcalendar/custom_calendar.css' %}"/>
  	<link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}"/>
  	<link rel="stylesheet" href="{% static 'plugins/fullcalendar/scheduler.min.css' %}"/> 
{% endblock %}

{% block content %}
    <div class="row">
      	<div class="col-sm-12 content">
<!-- General info -->
        	<div class="dashhead">
          		<div class="dashhead-titles">
            		<h1 class="dashhead-title">{{ page.name }}</h1>
            		<h4 class="dashhead-subtitle">{{ page.module.tool }}</h4>
          		</div>
	          	<div class="btn-group m-l-lg m-t-xs">
	            	<button type="button" class="btn btn-primary-outline" data-toggle="modal" data-target="#addtaskmodal" data-eventid="{{ page.pk }}">
		              	<span class="icon icon-pencil"></span> 
		              	Add Task 
	            	</button>
	          	</div>
        	</div>
	        <hr class="m-b-0 m-t-xs">
	        <div class="pull-right">
	        	<h2 class="m-t-0">
	        		<a data-toggle="collapse" data-target="#collapse-info" class="collapsor"></a>
	        	</h2>
		    </div>
	        <div class="row collapse in" id="collapse-info">
	          	<div class="col-md-4">
	            	<h4>{{ page.name }}</h4>
		            <p>
		              	{{ page.description }}
		            </p>
	          	</div>
	          	<div class="col-md-8">
	            	<div class="row">
	              		<div class="col-md-4">   
	                		<h4>Start datum</h4>
	                		<div class="input-with-icon dashhead-toolbar-item">
	                  			<input type="text" value="{{ page.start_date|date:'Y/m/d - h:i' }}" class="form-control">
	                  			<span class="icon icon-calendar"></span>
	                		</div>
	                		<br><br>
	                		<h4>Geplande einddatum</h4>
			                <div class="input-with-icon dashhead-toolbar-item">
				                <input type="text" value="{{ page.end_date|date:'Y/m/d - h:i'  }}" class="form-control">
				                <span class="icon icon-calendar"></span>
			                </div>
	                		<br><br>
	              		</div>
	              		<div class="col-md-4">
			                <h4>Owner</h4>
			                <p>
			                  {{ page.responsible|title }}
			                </p>
			                <br> 
			                <div class="checkbox custom-control custom-checkbox">
			                  	<label>
			                    	<input type="checkbox">
			                    	<span class="custom-control-indicator"></span>
			                    	Reservatie OK?
			                  	</label>
			                </div>
	              		</div>
	              		<div class="col-md-4">
	              			<h4 class="text-center">Event Progress</h4>
	              			<canvas
	              				class="ex-graph"
	              				data-chart="doughnut"
	              				data-percentage-inner-cutout="60"
	              				data-value="[{value: 4, color: '#9f86ff', label:'To Do'},
	              							{value: 7, color: '#ff9017', label:'In Progress'},
	              							{value: 8, color: '#1bc98e', label:'Done'}]"
	              				data-segment-stroke-color="#252830"
	              				>
	              			</canvas>
	              		</div>
	            	</div>
	         	</div>
	        </div>
<!-- Timeline -->
	        <div class="dashhead m-t">
	          	<div class="dashhead-titles">
		    		<h2 class="dashhead-title">Timeline
		    			<a data-toggle="collapse" data-target="#collapse-timeline" class="collapsor">
		    			</a>
		    		</h2>
	          	</div>
				<a data-toggle="popover" data-placement="left" title="Color Legend" data-content="<i>hier komt de inhoud</i>" data-trigger="click" data-html="true" class="info-link pull-right">
		      		<i class="fa fa-info-circle"></i>
		      	</a>
	        </div>
	        <hr class="m-t-0 m-b-sm">
	        {% if page.tasks %}
		        <div class="row collapse in p-b-md" id="collapse-timeline">
		        	<div class="col-xs-12">
		        		<div id="calendar"></div>
		        	</div>
		        </div>
	        {% else %}
		        <div class="row collapse in p-b-md" id="collapse-timeline">
		        	<div class="col-xs-12">
		        		<p>No tasks available ... </p>
		        	</div>
		        </div>
	        {% endif %}
<!-- Task list -->
	        <div class="dashhead m-t">
	          	<div class="dashhead-titles">
		    		<h2 class="dashhead-title">Task List
		    			<a data-toggle="collapse" data-target="#collapse-actionlist" class="collapsor">
		    			</a>
		    		</h2>
	          	</div>
			    <a data-toggle="popover" data-placement="left" title="Color Legend" data-content="<i>hier komt de inhoud</i>" data-trigger="click" data-html="true" class="info-link pull-right">
		      		<i class="fa fa-info-circle"></i>
		      	</a>
	            <button type="button" class="btn btn-sm btn-primary-outline m-l-lg" data-toggle="modal" data-target="#addtaskmodal" data-eventid="{{ page.pk }}">
	              	<span class="icon icon-pencil"></span> 
	              	Add 
	            </button>
	        </div>
	        <hr class="m-t-0 m-b-sm">
	        <div class="row collapse in" id="collapse-actionlist">
	        	<div class="col-md-4 p-a-0">
	        		<h3 class="text-center">To Do</h3>
	    			<div id="todo" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
	        		{% for task in page.todo_tasks %}
						{% include 'task/partials/task_alert.html' with task=task %}
	        		{% endfor %}
	    			</div>
	    		</div>
	    		<div class="col-md-4 p-a-0">
	    			<h3 class="text-center">In progress</h3>
	    			<div id="inprogress" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
	        		{% for task in page.inprogress_tasks %}
						{% include 'task/partials/task_alert.html' with task=task %}
	        		{% endfor %}
	    			</div>
	    		</div>
	    		<div class="col-md-4 p-a-0">
	    			<h3 class="text-center">Done</h3>
	    			<div id="done" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
	        		{% for task in page.done_tasks %}
	        			{% include 'task/partials/task_alert.html' with task=task %}
	        		{% endfor %}
	    			</div>
	        	</div>
	          	<div id="save-undo-changes" class="hidden col-md-6 col-md-offset-3 text-center p-l-0 p-t-sm">
	            	<a href="#" class="btn btn-warning-outline pull-riht m-l-xs">Undo Changes</a>
	            	<a id="savechanges" class="btn btn-success-outline pull-riht">Save Changes</a>
	          	</div>
	      	</div>
<!-- External files -->
	        <div class="dashhead m-t">
	          	<div class="dashhead-titles">
		    		<h2 class="dashhead-title">Links
		    			<a data-toggle="collapse" data-target="#collapse-links" class="collapsor">
		    			</a>
		    		</h2>
	          	</div>
	            <button type="button" class="btn btn-sm btn-primary-outline m-l-lg" data-toggle="modal" data-target="#addlinkmodal" data-eventid="{{ page.pk }}">
	              	<span class="icon icon-pencil"></span> 
	              	Add 
	            </button>
	        </div>
	        <hr class="m-t-0 m-b-sm">
	        <div class="row collapse in" id="collapse-links">
	        	<div class="col-xs-12">
	        		Hier komen de links
	        	</div>
	        </div>
	    </div>
	</div>


{% endblock %}

{% block modals %}
	<div id="updatetaskmodal" class="modal fade">
  	</div>
	<div id="addtaskmodal" class="modal fade">
  	</div>
{% endblock %}

{% block extra_js %}
	{{ block.super }}
	<!-- CHART: Graphs and charts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
	<!-- MOMENT: Datetime representations-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	<!-- FULLCALENDAR: Calendar and scheduler -->
	<script type="text/javascript" src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
  	<script type="text/javascript" src="{% static 'plugins/fullcalendar/scheduler.min.js' %}"></script>
  	<!-- COOKIE JQUERY PLUGIN: For django CSRF token -->
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  	<script type="text/javascript" src="{% static 'plugins/realpython/csrf_protection.js' %}"></script>
  	<!-- MATCHHEIGHT: Init-->
  	<script type="text/javascript">
	  	$(function() {
	  		$.fn.matchHeight._maintainScroll = true;
	    	$('.equal-height').matchHeight();
	  	});
  	</script>
  	<!-- FULLCALENDAR: Init-->
	<script>
   		$(function() { // dom ready
	      $('#calendar').fullCalendar({
	        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
	        resourceAreaWidth: 140,
	        defaultDate: '2016-08-08',
	        defaultDate: moment().startOf('day'),	// Today in Moment.js
	        editable: true,
	        //aspectRatio: 4.35,
	        contentHeight: 30 * {{ page.task_count_distinct_owner }} + 28,  /* aantal resources bepaalt hoogte van kalender */
	        eventOverlap: false,
	        //scrollTime: '00:00',
	        header: {
	          left: 'promptResource today prev,next',
	          //left: null,
	          center: 'title',
	          //right: 'timelineDay,timelineThreeDays,timelineTenDays,month',
	          //right: null 
	          right: 'timelineDay,timelineWW,timeline2WW'
	        },
	        customButtons: {
	        },
	        defaultView: 'timelineDay',
	        views: {
	          timelineDay: {
	            buttonText: 'Today',
	        	minTime: '05:00',
	        	maxTime: '23:00',
	            slotDuration: '01:00',
	            duration: {days: 7 }
	          },
	          timelineWW: {
	            type: 'timeline',
	            slotDuration: '04:00',
	            duration: { days: 7 }
	          },
	          timeline2WW: {
	            type: 'timeline',
	            slotDuration: '08:00',
	            duration: { days: 14 }
	          },
	        },
	        resourceLabelText: 'Owner',
	        resources: "{% url 'event-resources' event_id=page.pk %}",
	        events: "{% url 'event-events' event_id=page.pk %}",
	        //eventClick: function(event) {
	        	/* This callback gets executed when an event is being clicked by a user */

	          //$('#calendartaskmodal').modal();
	 
	       // },
	        eventAfterRender: function(event, element, view) {
	        	/* This callback get executed when an event is added to the calendar */

	        	// Add Bootstrap modal data attributes
	        	$(element).attr('data-taskid', event.id);
	        	$(element).attr('data-target', '#updatetaskmodal');
	        	$(element).attr('data-toggle', 'modal');
	        }
	      });
	    });
  	</script>
<!-- Updata task modal -->
	<script type="text/javascript">
		$(function() {
			$('#updatetaskmodal').on('show.bs.modal', function(e){

				//console.log(e.relatedTarget);
				var id = $(e.relatedTarget).data("taskid");

				$.ajax({
					url:"/tasks/update/" + id,	// Impossible to solve through {- url -} template tag?
					//url: "{- url 'update-task-modal' pk=page.page.page -}",
					type: "GET",
					success: task_handler,

					error: function(xhr, ajaxOptions, thrownError) {
						console.log(xhr.status);
						alert(thrownError);
					}
				});
				function task_handler(data) {
					console.log('success');
					$('#updatetaskmodal').html(data);
				};
			})
		})
	</script>
<!-- Add task modal -->
	<script type="text/javascript">
		$(function() {
			$('#addtaskmodal').on('show.bs.modal', function(e){

				var id = $(e.relatedTarget).data("eventid");

				console.log(id);

				$.ajax({
					url: "{% url 'add-task-for-event' event_id=page.pk %}",
					type: "GET",
					success: task_handler,

					error: function(xhr, ajaxOptions, thrownError) {
						console.log(xhr.status);
						alert(thrownError);
					}
				});
				function task_handler(data) {
					console.log('success');
					$('#addtaskmodal').html(data);
				};
			})
		})
	</script>
<!-- CUSTOM: Update task status after save button press drop -->
	<script type="text/javascript">
		$(function(){
			$('a#savechanges').on('click', function(){

				console.log('going to save changes');

 				var tasks = [];

 				var querydict = {}
 				var todo_list = []
 				var inprogress_list = []
 				var done_list = []
 				var status_list = ['todo', 'inprogress', 'done']

				$('div[data-item]').each(function(){

					if($(this).attr('data-changed') == 'true' && $(this).attr('data-item') == 'task') { 

						//console.log($(this).attr('data-status'));

						if ($(this).attr('data-status') == 0) {
							todo_list.push($(this).attr('data-taskid'));
						}
						else if ($(this).attr('data-status') == 1) {
							inprogress_list.push($(this).attr('data-taskid'));
						}
						else if ($(this).attr('data-status') == 2) {
							done_list.push($(this).attr('data-taskid'));
						}
					}
				});


				console.log('todo list:' + todo_list);

				params = {}
				params['todo'] = todo_list;
				params['inprogress'] = inprogress_list;
				params['done'] = done_list;

				console.log($.param(params));


				$.ajax({
					url:"{% url 'update-tasks-for-event' event_id=page.pk %}",
					type: "POST",
					success: success_handler,
					data: 
						$.param(params)
					,
					error: function(xhr, ajaxOptions, thrownError) {
						console.log(xhr.status);
						alert(thrownError);
					}
				});
				function success_handler(data) {
					console.log('success');
					window.location.reload();
				};	
			});
		})
	</script>
<!-- DRAGULA: init -->
	<script type="text/javascript">
		$(function() {
		    options = {
		      revertOnSpill: true
		    }
		  	// initieer Dragula 
		  	drake = dragula([todo, inprogress, done], options);
		  	// Use jQuery matchHeight om kolommen van dezelfde hoogte te verzekeren na elk drop event
		  	drake.on('drop', function(el, target, source, sibling) {
		  		$('.equal-height').matchHeight();
		  		console.log('drop');
		  		console.log($(target).attr('id'));


		  		$('div#save-undo-changes').removeClass('hidden');
		  		$(el).attr('data-changed', 'true');

		  		var status = 0;

		  		switch($(target).attr('id')) {
		  			case 'todo':
		  				status = 0;
		  				break;

		  			case 'inprogress':
		  				status = 1;
		  				break;

		  			case 'done':
		  				status = 2;
		  				break;

		  			default:
		  				status = 0;
		  		}

		  		$(el).attr('data-status', status);


		  	});
		  	drake.on('dragend', function(el, target, source, sibling) {
		  		//console.log('drag end');
		  	});
		  })
  	</script>
	

{% endblock %}
