a.collapsor.collapsed:after {
	/*content: "\f128";*/
	content: "\f0d7";
}

a.collapsor:after {
	font-family: "FontAwesome";
	content: "\f0d8";
}

a.collapsor:hover, a.collapsor:focus{
	text-decoration: none;
}

a.info {
	color: white;
}

a.info-link {
	font-size: 28px;
}

a.info:hover, a.info:focus {
	color: #666;
	cursor: pointer;
	cursor: hand;
}

input.submitbutton {
	font-weight: 800;
}
/*
*
* BOOTSTRAP DASHBOARD THEME OVERRIDES
*
*/

h1 {
	font-weight: 300;
	font-size: 36px;
}

h2 {
	font-weight: 200;
	font-size: 28px;
}

/* General */
.alert h4 {
	font-weight: 500;
	font-size: 15px;
}

.alert h5 {
	font-weight: 300;
	font-size: 15px;
}

ul#module-list li{
	display: block;
}

ul#module-list li:before {
	font-family: "FontAwesome";
	content: "\f0da";
	float: left;
	margin-left: -15px;
}

/* Alert */
.alert-primary {
    background-color: #1ca8dd;
    border-color: #1ca8dd;
    color: #fff;
}

.alert-warning {
    background-color: #FF9017;
    border-color: #FF9017;
    color: #fff;
}

/* Statcard */
.statcard-warning {
    background-color: #FF9017;
}

/* Panel */
.panel-warning {
	border-color: #FF9017;
}
.panel-warning > .panel-heading {
	background-color: #FF9017;
	border-color: #FF9017;
}

/* Button */
.btn-warning {
    color: #fff;
    background-color: #FF9017;
    border-color: #FF9017;
}

.btn-warning.active, .btn-warning:active, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #D26D00;
    border-color: #D26D00;
}

.btn-dark {
    color: #fff;
    background-color: #434857;
    border-color: #434857;
}

.btn-dark.active, .btn-dark:active, .btn-dark:hover, .open>.dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #252830;
    border-color: #252830;
}

.btn-warning-outline.active, .btn-warning-outline.focus, .btn-warning-outline:active, .btn-warning-outline:focus, .btn-warning-outline:hover, .open > .dropdown-toggle.btn-warning-outline {
    color: #fff;
    background-color: #FF9017;
    box-shadow: none;
}

.btn-warning-outline {
    color: #FF9017;
    background-color: transparent;
}

.btn-warning-outline, .btn-warning-outline.disabled, .btn-warning-outline.disabled.active, .btn-warning-outline.disabled.focus, .btn-warning-outline.disabled:active, 
.btn-warning-outline.disabled:focus, .btn-warning-outline.disabled:hover, .btn-warning-outline[disabled], .btn-warning-outline.active[disabled], .btn-warning-outline.focus[disabled], 
.btn-warning-outline[disabled]:active, .btn-warning-outline[disabled]:focus, .btn-warning-outline[disabled]:hover, fieldset[disabled] .btn-warning-outline, fieldset[disabled] 
.btn-warning-outline.active, fieldset[disabled] .btn-warning-outline.focus, fieldset[disabled] .btn-warning-outline:active, fieldset[disabled] .btn-warning-outline:focus, 
fieldset[disabled] .btn-warning-outline:hover {
    border-color: #FF9017;
}


/* Margin & Padding */
.m-a-sm {
	margin: 10px !important;
}
.m-t-sm {
	margin-top: 10px !important;
}
.m-r-sm {
	margin-right: 10px !important;
}
.m-b-sm {
	margin-bottom: 10px !important;
}
.m-l-sm {
	margin-left: 10px !important;
}
.m-x-sm {
	margin-right: 10px !important;
	margin-left: 10px !important;
}
.m-y-sm { 
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.m-a-xs {
	margin: 5px !important;
}
.m-t-xs {
	margin-top: 5px !important;
}
.m-r-xs {
	margin-right: 5px !important;
}
.m-b-xs {
	margin-bottom: 5px !important;
}
.m-l-xs {
	margin-left: 5px !important;
}
.m-x-xs {
	margin-right: 5px !important;
	margin-left: 5px !important;
}
.m-y-xs { 
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.p-a-sm {
	padding: 10px !important; 
}
.p-t-sm { 
	padding-top: 10px !important;
}
.p-r-sm { 
	padding-right: 10px !important;
}
.p-b-sm {
	padding-bottom: 10px !important;
}
.p-l-sm {
	padding-left: 10px !important;
}
.p-x-sm {
	padding-right: 10px !important;
	padding-left:  10px !important;
}
.p-y-sm { 
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.p-a-xs { 
	padding: 5px !important;
}
.p-t-xs {
	padding-top: 5px !important;
}
.p-r-xs {
	padding-right:  5px !important;
}
.p-b-xs {
	padding-bottom: 5px !important;
}
.p-l-xs {
	padding-left: 5px !important;
}
.p-x-xs { 
	padding-right: 5px !important;
	padding-left: 5px !important;
}
.p-y-xs { 
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

