{% extends 'base.html' %}

{% load static %}

{% block body_class %}Facility overview{% endblock %}

{% block content %}
	<div class="container">
	    <div class="dashhead m-b">
	    	<div class="dashhead-titles">
	    		<h1 class="dashhead-title">Facility Status</h1>
	    	</div>
	    	<div class="dashhead-toolbar">
	    		<div class="btn-group dashhead-toolbar-item">
	    			<a href="?fab=fab1" type="button" class="btn btn-lg btn-primary-outline {% if fab == 'fab1' %}active{% endif %}">FAB1</a>
	    			<a href="?fab=fab2" type="button" class="btn btn-lg btn-primary-outline {% if fab == 'fab2' %}active{% endif %}"">FAB2</a>
	    		</div>
	    	</div>
	    </div>
	    <hr>
	    <a type="button" class="btn btn-danger-outline pull-right">All down</a><br>
	    <hr>
	    <div class="row">
	    {% for utility in utilities %}
	    	<div class="col-sm-6">
			    <div class="statcard statcard-{% if status == 'green' %}success{% else %}danger{% endif %} p-a m-b">
			    	<h3 class="statcard-number">
			    		{{ utility.name }}
			    	</h3>
			    	<span class="statcard-desc">
			    		{% if status == 'red' %}
			    			Issue started: {% now 'd/m - G:i' %}
			    		{% else %}
			    			No issues!
			    		{% endif %}
			    	</span>
			    	<a href="?utility={{utility.name}}&toggle=toggle" class="btn btn-primary pull-right">
			    		{% if status == 'red' %}
			    			Go up
			    		{% else %}
			    			Go down
			    		{% endif %}
			    	</a>
			    </div>
	    	</div>

	    {% endfor  %}
	    </div>
    </div>

{% endblock %}
