<div class="alert alert-{{request.bs_color}} m-a-xs" role="alert">
	<h4 class="m-a-xs">{{ request.name }}</h4>
		<h5 class="m-a-xs">{{ request.description }}</h5>
		<hr>
    <h5><span class="icon icon-user"></span> {{ request.owner }}</h5>
    <h5><span class="icon icon-calendar"></span> {{ request.start_datetime|date:'j M: G' }}h&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{ request.due_datetime|date:'j M: G' }}h</h5>
{% if request.status == 2  %}
	<h5><span class="icon icon-check"> Accepted!</span></h5>
{% endif %}
</div>
