{% load widget_tweaks %}

<div class="modal-dialog modal-sm">
  <form action="{{ post_url }}" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Rejection Reason</h3>{{ form.errors }}
        <h6 class="m-y-0">{{ request }}</h6>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            {% csrf_token %}
            <p class="text-danger" id="form-errors">
              {{ form.errors }}
            </p>
            {% if form.rejection_reason %}
              {% render_field form.rejection_reason class+='form-control' %}
            {% endif %}
            {% render_field form.status class+='form-control' %}
          </div>
        </div>
      </div>
      <div class="modal-actions">
        <button type="button" class="btn-link modal-action" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn-link modal-action submitbutton" value="Submit">
      </div>
    </div>
  </form>
</div>