{% load widget_tweaks %}



<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">New Task</h3>
      <h6 class="m-y-0">{{ task.module.tool }}</h6>
      {{ form.errors }}
    </div>
    <div class="modal-body">
      <form action="/tasks/new/9/" method="post">
        {% csrf_token %}
        {{ form.media }}

        <br><br>
        <div class="input-with-icon dashhead-toolbar-item">
          {% render_field form.start_datetime class+='form-control' placeholder='dd-mm-YYYY  hh:mm' %}
          <span class="icon icon-calendar"></span>
        </div>
        <br><br>

                  
        

        <input type="submit" class="btn btn-lg btn-success rating-form" value="Submit" id="ratingsubmit">
      </form>
    </div>
    <div class="modal-actions">
      <button type="button" class="btn-link modal-action" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn-link modal-action" data-dismiss="modal">
        <strong>Add</strong>
      </button>
    </div>
  </div>
</div>