<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">{{ task }}</h3>
      <h6 class="m-y-0">{{ task.module.tool }}</h6>
    </div>
    <div class="modal-body">
      <p>Modal body text...</p>
    </div>
    <div class="modal-actions">
      <button type="button" class="btn-link modal-action" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn-link modal-action" data-dismiss="modal">
        <strong>Add</strong>
      </button>
    </div>
  </div>
</div>
