{% extends 'layout.html' %}

{% load static %}

{% block title %}
	ToolBoard: {{ self.title }}
{% endblock %}

{% block extra_css %}
	{{ block.super }}
	<!-- FULLCALENDAR: Calendar and scheduler -->
	<link rel="stylesheet" href="{% static 'plugins/fullcalendar/custom_calendar.css' %}"/>
  	<link rel="stylesheet" href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}"/>
  	<link rel="stylesheet" href="{% static 'plugins/fullcalendar/scheduler.min.css' %}"/> 
{% endblock %}

{% block content %}

   <div class="row">
      	<div class="col-sm-12 content">
<!-- General info -->
        	<div class="dashhead">
          		<div class="dashhead-titles">
            		<h1 class="dashhead-title">{{ page.name }}</h1>
            		<h4 class="dashhead-subtitle">Toolboard</h4>
          		</div>
          		<div class="btn-group m-l-lg m-t-xs">
		            <button type="button" class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		              	<span class="icon icon-pencil"></span> 
		              	New 
		              	<span class="caret"></span>
		            </button>
		            <ul class="dropdown-menu" role="menu">
			            <li>
			            	<a href="#" data-toggle="modal" data-target="#taskmodal" data-tool="{{page.pk}}">Task</a>
			            </li>
			            <li>
			            	<a href="#">Event</a>
			            </li>
		            </ul>
          		</div>
        	</div>
		    <hr class="m-y-xs">
	        <div class="pull-right">
	        	<h2 class="m-t-0">
	        		<a data-toggle="collapse" data-target="#collapse-info" class="collapsor"></a>
	        	</h2>
		    </div>
		    <div class="row collapse in" id="collapse-info">
		      	<div class="col-md-6 col-md-offset-6">
		        	<div class="row">
		          		<div class="col-xs-4">
		          			<h4>
		          				<span class="icon icon-flow-tree"></span> {{ page.name }} Modules
		          			</h4>
					        <ul id="module-list">
					        	{% for module in page.submodules %}
					        	<li>{{ module }}</li>
					        	{% endfor %}
					        </ul>      	
		          		</div>
				        <div class="col-xs-4">
				            <h4>
				            	<span class="icon icon-tools"></span> Hardware
				            </h4>
				            <ul>
				            	{% for person in page.hw_responsibles.all %}
				            	<li>{{ person|capfirst }}</li>
				            	{% endfor %}
				            </ul>
				        </div>
				        <div class="col-xs-4">
				            <h4>
				            	<span class="icon icon-gauge"></span> Process
				            </h4>
				            <ul>
				            	{% for person in page.process_responsibles.all %}
				            	<li>{{ person|capfirst }}</li>
				            	{% endfor %}
				            </ul>
				        </div>
		        	</div>
		      	</div>
		    </div>
<!-- Timeline -->
	        <div class="dashhead m-t">
	          	<div class="dashhead-titles">
		    		<h2 class="dashhead-title">Timeline
		    			<a data-toggle="collapse" data-target="#collapse-timeline" class="collapsor">
		    			</a>
		    		</h2>
	          	</div>
			    <a data-toggle="popover" data-placement="left" title="Color Legend" data-content="<i>hier komt de inhoud</i>" data-trigger="click" data-html="true" class="info-link pull-right">
		      		<i class="fa fa-info-circle"></i>
		      	</a>
	        </div>
	        <hr class="m-t-0 m-b-sm">
	        {% if page.activities %}
		        <div class="row collapse in p-b-md" id="collapse-timeline">
		        	<div class="col-xs-12">
		        		<div id="calendar"></div>
		        	</div>
		        </div>
	        {% else %}
		        <div class="row collapse in p-b-md" id="collapse-timeline">
		        	<div class="col-xs-12">
		        		<p>No tasks available ... </p>
		        	</div>
		        </div>
	        {% endif %}
<!-- Action list -->
		    <div class="dashhead m-t">
		      	<div class="dashhead-titles">
		    		<h2 class="dashhead-title">Tasks & Events
		    			<a data-toggle="collapse" data-target="#collapse-time" class="collapsor">
		    			</a>
		    		</h2>
		      	</div>
		      	<a data-toggle="popover" data-placement="left" title="Color Legend" data-content="<i>hier komt de inhoud</i>" data-trigger="click" data-html="true" class="info-link pull-right">
		      		<i class="fa fa-info-circle"></i>
		      	</a>
          		<div class="btn-group m-l-lg">
		            <button type="button" class="btn btn-sm btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		              	<span class="icon icon-pencil"></span> 
		              	Add 
		              	<span class="caret"></span>
		            </button>
		            <ul class="dropdown-menu" role="menu">
			            <li>
			            	<a href="#" data-toggle="modal" data-target="#taskmodal" data-tool="{{page.pk}}">Task</a>
			            </li>
			            <li>
			            	<a href="#">Event</a>
			            </li>
		            </ul>
          		</div>
		    </div>
		    <hr class="m-y-xs">
		    <div class="row collapse in" id="collapse-time">
		      	<div class="col-md-4 p-a-0">
		        	<h3 class="text-center">To Do / Upcoming</h3>
		        	<div id="todo" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
		        		{% for item in page.todo_tasks_events %}
		        			{% include 'tool/partials/task_event_alert.html' with item=item %}
		        		{% endfor %}
		    		</div>
		      	</div>
		    	<div class="col-md-4 p-a-0">
		        	<h3 class="text-center">In Progress</h3>
		    		<div id="inprogress" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
		        		{% for item in page.inprogress_tasks_events %}
		        			{% include 'tool/partials/task_event_alert.html' with item=item %}
		        		{% endfor %}
					</div>
		    	</div>
		    	<div class="col-md-4 p-a-0">
		        	<h3 class="text-center">Done</h3>
		        	<div id="done" class="p-a-xs m-a-xs equal-height" style="min-height:100px; background-color: #434857;">
		        		{% for item in page.done_tasks_events %}
		        			{% include 'tool/partials/task_event_alert.html' with item=item %}
		        		{% endfor %}
		    		</div>
		    	</div>
	          	<div id="save-undo-changes" class="hidden col-md-6 col-md-offset-3 text-center p-l-0 p-t-sm">
	            	<a href="#" class="btn btn-warning-outline pull-riht m-l-xs">Undo Changes</a>
	            	<a id="savechanges" class="btn btn-success-outline pull-riht">Save Changes</a>
	          	</div>
		    </div>
<!-- Requests -->
		    <div class="dashhead m-t">
			    <div class="dashhead-titles">
			    	<h2 class="dashhead-title">Requests
			    		<a data-toggle="collapse" data-target="#collapse-request" class="collapsor">
			    		</a>
			    	</h2>
			    </div>
				<a data-toggle="popover" data-placement="left" title="Color Legend" data-content="<i>hier komt de inhoud</i>" data-trigger="click" data-html="true" class="info-link pull-right">
					<i class="fa fa-info-circle"></i>
				</a>
	            <button type="button" class="btn btn-sm btn-primary-outline m-l-lg" data-toggle="modal" data-target="#requestmodal">
	              	<span class="icon icon-pencil"></span> 
	              	Add 
	            </button>
		    </div>
		    <hr class="m-y-xs">
		    <div class="row collapse in" id="collapse-request">
		      	<div class="col-md-3 p-a-0">
		        	<h3 class="text-center">Pending</h3>
		        	<div id="pending" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
	        		{% for request in page.requested_requests %}
	        			{% include 'request/partials/request_alert.html' with request=request %}
	        		{% endfor %}
		    		</div>
		      	</div>
		      	<div class="col-md-3 p-a-0">
		        	<h3 class="text-center">Rejected</h3>
		        	<div id="rejected" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
	        		{% for request in page.rejected_requests %}
	        			{% include 'request/partials/request_alert.html' with request=request %}
	        		{% endfor %}
		    		</div>
		      	</div>
		      	<div class="col-md-3 p-a-0">
		        	<h3 class="text-center">Accepted</h3>
		        	<div id="accepted" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
	        		{% for request in page.accepted_requests %}
	        			{% include 'request/partials/request_alert.html' with request=request %}
	        		{% endfor %}
		    		</div>
		      	</div>
		      	<div class="col-md-3 p-a-0">
		        	<h3 class="text-center">Planned</h3>
		        	<div id="planned" class="p-a-xs m-a-xs equal-height" style="background-color: #434857;">
	        		{% for request in page.planned_requests %}
	        			{% include 'request/partials/request_alert.html' with request=request %}
	        		{% endfor %}
		    		</div>
		      	</div>
		    </div>
	  	</div>
    </div>

{% endblock content %}

{% block modals %}
  	<div id="calendareventmodal" class="modal fade"></div>
  	<div id="requestmodal" class="modal fade"></div>
  	<div id="rejectedrequestmodal" class="modal fade"></div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

  	<!-- REAL PYTHON SCRIPT: For django CSRF token -->
  	<script type="text/javascript" src="{% static 'plugins/realpython/csrf_protection.js' %}"></script>
	<!-- MOMENT: Datetime representations-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	<!-- FULLCALENDAR: Calendar and scheduler -->
	<script type="text/javascript" src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
  	<script type="text/javascript" src="{% static 'plugins/fullcalendar/scheduler.min.js' %}"></script>
  	<!-- MATCHHEIGHT: Init-->
  	<script type="text/javascript">
	  	$(function() {
	  		$.fn.matchHeight._maintainScroll = true;
	    	$('.equal-height').matchHeight();
	  	});
  	</script>
<!-- FULLCALENDAR: Init-->
	<script>
   		$(function() { // dom ready
	      $('#calendar').fullCalendar({
	        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
	        resourceAreaWidth: 140,
	        defaultDate: '2016-08-08',
	        defaultDate: moment().startOf('day'),	// Today in Moment.js
	        editable: true,
	        contentHeight: 30 * {{ page.task_count_distinct_owner }} + 28,  /* aantal resources bepaalt hoogte van kalender */
	        eventOverlap: false,
	        header: {
	          left: 'promptResource today prev,next',
	          center: 'title',
	          right: 'timelineDay,timelineWW,timeline2WW'
	        },
	        customButtons: {
	        },
	        defaultView: 'timelineDay',
	        views: {
	          timelineDay: {
	            buttonText: '1 day',
	            slotDuration: '01:00',
	        	minTime: '05:00',
	        	maxTime: '23:00',
	            duration: {days: 7 }
	          },
	          timelineWW: {
	          	buttonText: '1 week',
	            type: 'timeline',
	            slotDuration: '04:00',
	            duration: { days: 7 }
	          },
	          timeline2WW: {
	          	buttonText: '14 days',
	            type: 'timeline',
	            slotDuration: '08:00',
	            duration: { days: 14 }
	          }
	        },
	        resourceLabelText: 'Owner',
	        resources: "{% url 'tool-resources' tool_id=page.pk %}",
	        events:"{% url 'tool-events' tool_id=page.pk %}",
	        eventAfterRender: function(event, element, view) {
	        	/* This callback get executed when an event is added to the calendar */

	        	// Add Bootstrap modal data attributes
	        	$(element).attr('data-taskid', event.id);
	        	$(element).attr('data-target', '#calendareventmodal');
	        	$(element).attr('data-toggle', 'modal');
	        }
	      });
	    });
  	</script>
<!-- BOOTSTRAP MODAL: Destroy on close-->
	<script type="text/javascript">
		$('div.modal').on('hidden.bs.modal', function() {
			$(this).data('bs.modal', null);
		});
	</script>
<!-- CUSTOM: Update task status after save button press drop -->
	<script type="text/javascript">
		$(function(){
			$('a#savechanges').on('click', function(){

 				var todo_list = []
 				var inprogress_list = []
 				var done_list = []

				$('div[data-item]').each(function(){

					if($(this).attr('data-changed') == 'true' && $(this).attr('data-item') == 'task') { 

						//console.log($(this).attr('data-status'));

						if ($(this).attr('data-status') == 0) {
							todo_list.push($(this).attr('data-taskid'));
						}
						else if ($(this).attr('data-status') == 1) {
							inprogress_list.push($(this).attr('data-taskid'));
						}
						else if ($(this).attr('data-status') == 2) {
							done_list.push($(this).attr('data-taskid'));
						}
					}
				});

				params = {}
				params['todo'] = todo_list;
				params['inprogress'] = inprogress_list;
				params['done'] = done_list;

				$.ajax({
					url:"{% url 'update-tasks-for-tool' tool_id=page.pk %}",
					type: "POST",
					success: success_handler,
					data: 
						$.param(params)
					,
					error: function(xhr, ajaxOptions, thrownError) {
						console.log(xhr.status);
						alert(thrownError);
					}
				});
				function success_handler(data) {
					window.location.reload();
				};	
			});
		})
	</script>
<!-- DRAGULA: Init() tasks&events -->
	<script type="text/javascript">
		$(function() {
		    options = {
		      	revertOnSpill: true,
		      	// invalid option to disallow tool events from being dragged
		      	invalid: function(el, handle) {
		      		if ($(el).hasClass('tool-event')) {
		      			return true;
		      		}
	      			return false;
		      	}
		    }
		  	// initieer Dragula 
		  	drake = dragula([todo, inprogress, done], options);
		  	// Use jQuery matchHeight om kolommen van dezelfde hoogte te verzekeren na elk drop event
		  	drake.on('drop', function(el, target, source, sibling) {
		  		$('.equal-height').matchHeight();

		  		$('div#save-undo-changes').removeClass('hidden');
		  		$(el).attr('data-changed', 'true');

		  		var status = 0;

		  		switch($(target).attr('id')) {
		  			case 'todo':
		  				status = 0;
		  				break;

		  			case 'inprogress':
		  				status = 1;
		  				break;

		  			case 'done':
		  				status = 2;
		  				break;

		  			default:
		  				status = 0;
		  		}

		  		$(el).attr('data-status', status);
		  	});
		  	drake.on('dragend', function(el, target, source, sibling) {
		  		console.log('drag end');
		  	});
		})
  	</script>
<!-- DRAGULA: Init() requests -->
	<script type="text/javascript">
	    options = {
	      revertOnSpill: true
	    }
	  	// initieer Dragula 
	  	drake = dragula([pending, rejected, accepted, planned], options);
	  	// Use jQuery matchHeight om kolommen van dezelfde hoogte te verzekeren na elk drop event
	  	drake.on('drop', function(el, target, source, sibling) {
	  		$('.equal-height').matchHeight();

	  		url = $(el).attr('data-requesturl');

	  		console.log($(target).attr('id'));

	  		switch($(target).attr('id')) {
	  			case 'pending':
	  				status = 0;
	  				break;

	  			case 'rejected':
	  				status = 1;
	  				break;

	  			case 'accepted':
	  				status = 2;
	  				break;

	  			case 'planned':
	  				status = 3;
	  				break;

	  			default:
	  				status = 0;
	  		}

	  		data = {'status': status}

	  		if (status == 1) {
	  		 		
		  		$.ajax({
		  			url: url,
		  			data: data,
		  			type: 'GET',
		  			success: success_handler,
		  			error: function(xhr, ajaxOptions, thrownError) {
		  				console.log(xhr.status);
		  				alert(thrownError);
		  			}
		  		});
		  		function success_handler(data) {
		  			console.log('success reject');
		  			console.log(data);

		  			$('#rejectedrequestmodal').html(data);
		  			$('#rejectedrequestmodal').modal();
		  		}
	  		}

	  		else {
		  		$.ajax({
		  			url: url,
		  			data: data,
		  			type: 'POST',
		  			success: handler,
		  			error: function(xhr, ajaxOptions, thrownError) {
		  				console.log(xhr.status);
		  				alert(thrownError);
		  			}
		  		});
		  		function handler(data) {
		  			console.log('success');
		  			console.log(data);
		  		}  			
	  		}

	  	});

  	</script>
<!-- MATCHHEIGHT: Init() -->
	<script type="text/javascript">
		$(function() {
			$.fn.matchHeight._maintainScroll = true;
		    $('.equal-height').matchHeight();
		});
	</script>
<!-- Calendar event modal -->
	<script type="text/javascript">
		$(function() {
			$('#calendareventmodal').on('show.bs.modal', function(e){

				var id = $(e.relatedTarget).data("taskid");

				$.ajax({
					url:"/tool/calendarevent/" + id,
					type: "GET",
					success: task_handler,

					error: function(xhr, ajaxOptions, thrownError) {
						console.log(xhr.status);
						alert(thrownError);
					}
				});
				function task_handler(data) {
					console.log('success');
					$('#calendareventmodal').html(data);
				};
			})
		})
	</script>
<!-- Add request modal -->
	<script type="text/javascript">
		$('#requestmodal').on('show.bs.modal', function(e){

			$.ajax({
				url: "{% url 'add-request-for-tool' tool_id=page.pk %}",
				type: "GET",
				success: task_handler,
				error: function(xhr, ajaxOptions, thrownError) {
					console.log(xhr.status);
					alert(thrownError);
				}
			});

			function task_handler(data) {
				$('#requestmodal').html(data);
			};
		})
	</script>
<!-- Request rejection modal -->
	<script type="text/javascript">
		$(function(){
			$('#rejection-input').on('click', function(e){

				e.preventDefault();
				console.log('going to save changes');


 				var todo_list = []
 				var inprogress_list = []
 				var done_list = []

				$('div[data-item]').each(function(){

					if($(this).attr('data-changed') == 'true' && $(this).attr('data-item') == 'task') { 

						//console.log($(this).attr('data-status'));

						if ($(this).attr('data-status') == 0) {
							todo_list.push($(this).attr('data-taskid'));
						}
						else if ($(this).attr('data-status') == 1) {
							inprogress_list.push($(this).attr('data-taskid'));
						}
						else if ($(this).attr('data-status') == 2) {
							done_list.push($(this).attr('data-taskid'));
						}
					}
				});

				params = {}
				params['todo'] = todo_list;
				params['inprogress'] = inprogress_list;
				params['done'] = done_list;

				$.ajax({
					url:{% url 'update-tasks-for-event' event_id=page.pk %},
					type: "POST",
					success: success_handler,
					data: 
						$.param(params)
					,
					error: function(xhr, ajaxOptions, thrownError) {
						console.log(xhr.status);
						alert(thrownError);
					}
				});
				function success_handler(data) {
					console.log('success');
					window.location.reload();
				};	
			});
		})
	</script>
<!-- Initialiseer Bootstrap popovers -->
	<script type="text/javascript">
		$(function (){
			$('[data-toggle="popover"]').popover()
		});
	</script>
{% endblock %}
