{% load wagtailcore_tags %}

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">{{ event }}</h3>
      <h6 class="m-y-0">{{ event.module.tool }}</h6>
    </div>
    <div class="modal-body">
      <div class="row">
        
      </div>
    </div>
    <div class="modal-actions">
      <button type="button" class="btn-link modal-action" data-dismiss="modal">Cancel</button>
      <a href="{% pageurl event %}" type="button" class="btn-link text-center modal-action">
        <strong>To Event</strong>
      </a>
    </div>
  </div>
</div>